/* Header */

.header {
    border-bottom: 1px solid #D6D6D6;
}

.header__container {
    padding: 14px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__ul {
    display: flex;
    align-items: center;
    gap: 72px;
}

.header__a {
    color: var(--color-text-second);
    font-size: 20px;
    font-family: var(--font-main);
    font-weight: 500;
}

.header__btn {
    display: flex;
    gap: 35px;
    align-items: center;
}

.btn_link {
    color: var(--black);
}

/* Header END */


/* Welcome section */

.welcome__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 68px;
}

.welcome__title {
    color: var(--color-primary);
    font-size: 65px;
    font-family: var(--font-add);
    font-weight: 700;
    max-width: 443px;
    margin-bottom: 10px;
}

.welcome__desc {
    max-width: 420px;
    margin-bottom: 53px;
}

.welcome__btn {
    padding: 20px 50px;
}

.welcome__img {
    position: relative;
    left: inherit;
}

.welcome__img_small{
    display: none;

}

/* Welcome section END*/


/* How section */

.how__container {
    padding: 203px 58px;
}

.how-info {
    display: flex;
    align-items: center;
    gap: 141px;
    margin-bottom: 81px;
}

.how-info__title {
    max-width: 579px;
}

.how-info__desc {
    color: var(--color-text-third);
    max-width: 671px;
}

.how-step {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 68px;
}

.how-step__item {
    display: flex;
    flex-direction: column;
}

.how-step__title {
    color: var(--black);
    font-size: 30px;
    font-family: var(--font-add);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 20px;
}

.how-step__desc {
    color: var(--color-text-third);
    max-width: 382px;
    flex-grow: 1;
    margin-bottom: 60px;
}

/* How section END*/


/* Story section */

.story {
    background-color: #245852;
}

.story__container {
    display: flex;
    gap: 31px;
    padding: 203px 0px;
}

.story__title {
    color: var(--white);
    margin-bottom: 33px;
}

.story__topic {
    color: var(--white);
    margin-bottom: 57px;

}

.story__btn {
    padding: 20px 50px;
}

/* Story section END*/


/* Product section */

.product__container {
    display: flex;
    gap: 87px;
    padding: 203px 104px;
}

.product__img img{
    max-width: 639px;
}

.product__title {
    margin-bottom: 10px;
}

.product__topic {
    margin-bottom: 20px;
    max-width: 573px;
}

.product__desc {
    color: var(--color-text-first);
    font-size: 20px;
    font-family: var(--font-main);
    font-weight: 400;
    line-height: 157%;
    margin-bottom: 40px;
    max-width: 530px;
}

.product__btn {
padding: 20px 50px;
}

/* Product section END */


/* Footer */

.footer {
   background-color: #245852;
}

.footer__container {
    padding: 87px 67px;
    display: flex;
    justify-content: space-between;
}

.footer__ul {
    display: flex;
    gap: 60px;
}

.footer__a {
    color: var(--white);
    font-size: 25px;
    font-family: var(--font-main);
    font-weight: 600;
}

/* Footer END */